<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credit.diversion.dao.TarticleMapper">

    <resultMap type="com.credit.diversion.model.Tarticle" id="mTarticle" autoMapping="true">
    </resultMap>
    <resultMap type="com.credit.diversion.model.Tarticle" id="mTarticleAll">
        <id column="id" property="id"/>
        <result column="url" property="url"/>
        <result column="title" property="title"/>
        <result column="title_desc" property="titleDesc"/>
        <result column="source" property="source"/>
        <result column="image" property="image"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="mColumnsSql">
        id AS id,
        url AS url,
        title AS title,
        title_desc AS titleDesc,
        source AS source,
        image AS image,
        created_by AS createdBy,
        created_at AS createdAt,
        updated_by AS updatedBy,
        updated_at AS updatedAt
    </sql>
</mapper>