<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credit.diversion.dao.TbroadcastMapper">

    <resultMap type="com.credit.diversion.model.Tbroadcast" id="mTbroadcast" autoMapping="true">
    </resultMap>
    <resultMap type="com.credit.diversion.model.Tbroadcast" id="mTbroadcastAll">
        <id column="id" property="id"/>
        <result column="biz_type" property="bizType"/>
        <result column="content" property="content"/>
        <result column="biz_status" property="bizStatus"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>

    <sql id="mColumnsSql">
        id AS id,
        biz_type AS bizType,
        content AS content,
        biz_status AS bizStatus,
        created_at AS createdAt,
        created_by AS createdBy,
        updated_at AS updatedAt,
        updated_by AS updatedBy
    </sql>
</mapper>